.error {
  display: inline-block;
  padding: 3px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  margin: 5px;
  text-align: center; }

.placement {
  margin-bottom: 5px; }

.stand-in {
  margin: auto;
  height: 32px;
  width: 50px; }

.land_img {
  height: 390px;
  width: auto;
  background-image: url("images/coffee.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center 75%; }

.transition_landing {
  position: relative;
  bottom: -80%;
  height: 100px;
  background-image: linear-gradient(transparent 0%, #EDEBE6 80%); }

.visual-lining {
  padding: 150px 0 0 100px; }
  .visual-lining .title {
    color: #084d40;
    font-weight: bold;
    font-size: 44px; }
  .visual-lining .subtitle {
    color: #084d40;
    font-size: 18px;
    font-style: italic;
    margin-left: 1%; }

.visual-lining-options {
  color: #084d40;
  display: inline-block;
  padding: 150px 0px;
  padding-right: 0px;
  padding-bottom: 0px; }
  .visual-lining-options .options-title {
    color: #084d40;
    font-size: 35px;
    font-weight: bold; }
  .visual-lining-options .options {
    color: #084d40;
    margin-left: 1%;
    font-size: 18px;
    font-style: italic; }

.breaker {
  height: 80px;
  background-color: #EDEBE6;
  position: relative; }
  .breaker .hiw {
    color: #084d40;
    font-size: 35px; }
  .breaker .triangle {
    border-top: 50px solid #EDEBE6;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 100%;
    left: 47.5%;
    z-index: 20; }

.first_img {
  height: 440px;
  background-image: linear-gradient(transparent 0%, black 80%), url("images/bags.jpg");
  background-repeat: no-repeat;
  position: relative; }
  .first_img .triangle {
    border-top: 50px solid black;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 100%;
    left: 47.5%;
    z-index: 20; }

.second_img {
  height: 440px;
  background-color: #EDEBE6;
  position: relative; }
  .second_img .triangle {
    border-top: 50px solid #EDEBE6;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 100%;
    left: 47.5%;
    z-index: 20; }
  .second_img .image_skewed #grower {
    height: 300px;
    background-image: url("images/grower.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    transform: rotateZ(-10deg) translateY(25%) translateX(25%); }
  .second_img .visual-lining-with-image {
    color: #084d40;
    padding: 150px 0px; }
    .second_img .visual-lining-with-image .options-title {
      color: #084d40;
      font-size: 35px;
      font-weight: bold; }
    .second_img .visual-lining-with-image .options {
      color: #084d40;
      margin-left: 5px;
      font-size: 18px;
      font-style: italic; }

.third_img {
  height: 440px;
  background-color: black;
  position: relative; }
  .third_img .visual-lining-with-image {
    color: #084d40;
    padding: 150px 0px; }
    .third_img .visual-lining-with-image .options-title {
      color: #fff;
      font-size: 35px;
      font-weight: bold; }
    .third_img .visual-lining-with-image .options {
      color: #fff;
      margin-left: 5px;
      font-size: 18px;
      font-style: italic; }
  .third_img .steamy-coffee {
    height: 100%;
    background-image: url("images/steaming.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center; }
  .third_img .triangle {
    border-top: 50px solid black;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 100%;
    left: 47.5%;
    z-index: 20; }

.action_landing {
  padding: 0px; }
  .action_landing .action_group {
    padding: 50px 0px 20px 0px; }
    .action_landing .action_group #started {
      margin: 35px;
      background-color: #084d40;
      color: #fff;
      font-weight: bold;
      padding: 10px 25px;
      border: 1px solid #084d40; }
      .action_landing .action_group #started:hover {
        color: #8D5810; }

button.send-it {
  margin: 10px auto;
  cursor: default !important;
  background-color: #084d40;
  color: #fff;
  font-weight: bold;
  padding: 5px 40px;
  border: 1px solid #084d40; }
  button.send-it:hover {
    color: #8D5810; }

select {
  cursor: default !important; }

.selections {
  margin: 11px 0px; }

.container-fluid {
  color: #084d40; }

input, select {
  outline: none !important; }

#option-individual {
  background-color: #6A4A2C;
  padding: 30px;
  box-shadow: 0 0 10px 0 #333;
  color: #fff; }
  #option-individual img {
    height: 300px;
    width: auto;
    border: 5px solid #684A2C; }

#option-family {
  background-color: #6A4A2C;
  padding: 30px;
  box-shadow: 0 0 10px 0 #333;
  color: #fff; }
  #option-family img {
    height: 300px;
    width: auto;
    border: 5px solid #684A2C; }

#option-custom {
  background-color: #6A4A2C;
  padding: 0px;
  box-shadow: 0 0 10px 0 #333;
  color: #fff; }
  #option-custom .custom-divs {
    border: 1px solid #6A4A2C;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px; }
  #option-custom .custom-text {
    margin-top: 80px; }

.delivery-box {
  background-color: #6A4A2C;
  padding: 20px;
  box-shadow: 0 0 10px 0 #333; }

body {
  background-color: #EDEBE6;
  color: #084d40;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }
  body a {
    color: #EDEBE6;
    transition: all 0.5s ease; }
    body a .active {
      font-weight: bold; }
    body a:visited {
      cursor: default;
      text-decoration: none;
      color: #EDEBE6; }
    body a:hover {
      cursor: default;
      text-decoration: none;
      color: #8D5810; }
  body button {
    cursor: default !important; }
  body .navbar-brand {
    padding: 3px;
    box-sizing: border-box; }
    body .navbar-brand img {
      height: 96%;
      width: auto; }
  body .sub-nav {
    background-color: #084d40;
    height: 30px;
    line-height: 30px;
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    z-index: 1030; }
    body .sub-nav ul {
      list-style: none;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 0px;
      margin: 5px; }
      body .sub-nav ul li {
        display: inline-block;
        padding: 5px;
        font-size: 18px; }
  body #views {
    margin-top: 100px; }
