.container-fluid
  .row
    .col-sm-12.text-center
      h1 Please enter your shipping information
      h4 Safe shipping guaranteed.
  .row
    .col-sm-6.col-sm-offset-3
      .delivery-box
        .row
          .col-sm-12.shipping
            .row
              .col-sm-12.text-center
                h1 Address
              hr
              h4.warning
              .row
                .col-sm-12.form-wrapper
                  form#delivery-form(role="form", ng-submit="deliverForm()", name="delivery")
                    .col-sm-12
                      .col-sm-6.col-sm-offset-3.form-group
                        label Full Name
                        input.form-control(type="text", ng-model="fullName", placeholder="John Doe", required="required")
                    .col-sm-12
                      .col-sm-6.col-sm-offset-3.form-group
                        label Address Line 1
                        input.form-control(type="text", ng-model="address1", placeholder="123 Sesame Street", required="required")
                    .col-sm-12
                      .col-sm-6.col-sm-offset-3.form-group
                        label Address Line 2
                        input.form-control(type="text", ng-model="address2", placeholder="Apt 100")
                    .col-sm-12
                      .col-sm-6.col-sm-offset-3.form-group
                        label City
                        input.form-control(type="text", ng-model="city", placeholder="Kokomo", required="required")
                    .col-sm-12
                      .col-sm-6.col-sm-offset-3.form-group
                        label State
                        br
                        select.btn.btn-default.state-dropdown(ng-model="state", required="required", ng-options="state for state in states")
                          option(value="?", selected="selected")
                          options(value="{{state}}") {{state}}
                    .col-sm-12
                      .col-sm-6.col-sm-offset-3.form-group
                        label Zip Code
                        input.form-control(type="text", ng-model="zipCode", placeholder="00000", required="required")
                    .col-sm-12
                      .col-sm-6.col-sm-offset-3.form-group
                        label Delivery Date
                        input.form-control#date-picker(type="date", ng-model="deliveryDate", placeholder="09/22/2016", required="required")
                    .button-holder
                      button.btn.btn-default.center-block(type="submit") Submit