
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>Login</h1>
      <div ng-hide="errorMessage" class="placement">
        <div class="stand-in"></div>
      </div>
      <div ng-show="errorMessage" class="message">
        <div ng-show="noMatch" class="error center-block bg-danger text-danger">Passwords Do Not Match</div>
      </div>
    </div>
    <div class="col-sm-12">
      <form id="login-form" ng-submit="login()">
        <div class="form-group col-sm-12 text-right">
          <div class="col-sm-6 col-sm-offset-4">
            <div class="input-group col-sm-8"><span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
              <input type="text" ng-model="username" placeholder="Enter Username" min-length="4" max-length="30" class="form-control"/>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 text-right">
          <div class="col-sm-6 col-sm-offset-4">
            <div class="input-group col-sm-8"><span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
              <input type="password" ng-model="password" placeholder="Enter Password" min-length="4" max-length="30" class="form-control"/>
            </div>
          </div>
        </div>
        <div class="button-holder text-center">
          <button type="submit" class="btn btn-success">Login</button>
        </div>
        <div class="text-center"><a href="#/register" class="dark-link">Need an Account?</a></div>
      </form>
    </div>
  </div>
</div>