#instruction-modal
  h3.modal-text.text-center
  .close-button.text-center
    b X 
.land_img
  .visual-lining.col-sm-8.col-sm-offset-1.col-xs-12.col-xs-offset-0
    .title Whole beans in half the time
    .subtitle Freshly roasted coffee beans delivered weekly to your door
  .hidden-xs.transition_landing
.breaker
  .text-center.hiw How It Works
  .triangle
.first_img
  .visual-lining-options.col-sm-5.col-sm-offset-1.col-xs-12
    .options-title 1. We get the coffee
    .options Each bean is hand selected
    .options Each bean is measured for precise size
    .options Each bean is tested for quality
  .triangle
.second_img
  .hidden-xs.image_skewed.col-sm-4.col-sm-offset.2
    #grower
  .visual-lining-with-image.col-sm-4.col-sm-offset-2.col-xs-12
    .options-title 2. We pick up the coffee
    .options We place the coffee in bags
    .options Each bag is transported in climate-controlled trucks
    .options Each six hours the bags are rotated to keep the beans uniform and delicious
  .triangle
.third_img
  .visual-lining-with-image.col-sm-5.col-sm-offset-1.col-xs-12
    .options-title 3. You drink the coffee
    .options The coffee tastes delicious
    .options You want more coffee
    .options You buy more coffee
  .hidden-xs.col-sm-6.steamy-coffee
  .triangle
.action_landing.col-sm-12
  .col-sm-6.col-sm-offset-3.text-center.action_group
    button.btn#started(ng-click="go()") GET STARTED
    
