
<div id="instruction-modal">
  <h3 class="modal-text text-center"></h3>
  <div class="close-button text-center"><b>X </b></div>
</div>
<div class="land_img">
  <div class="visual-lining col-sm-8 col-sm-offset-1 col-xs-12">
    <div class="title">Whole beans in half the time</div>
    <div class="subtitle">Freshly roasted coffee beans delivered weekly to your door</div>
  </div>
  <div class="transition_landing"></div>
</div>
<div class="breaker">
  <div class="text-center hiw">How It Works</div>
  <div class="triangle"></div>
</div>
<div class="first_img">
  <div class="visual-lining-options col-sm-5 col-sm-offset-1">
    <div class="options-title">1. We get the coffee</div>
    <div class="options">Each bean is hand selected</div>
    <div class="options">Each bean is measured for precise size</div>
    <div class="options">Each bean is tested for quality</div>
  </div>
  <div class="triangle"></div>
</div>
<div class="second_img">
  <div class="image_skewed col-sm-4 col-sm-offset 2">
    <div id="grower"></div>
  </div>
  <div class="visual-lining-with-image col-sm-4 col-sm-offset-2">
    <div class="options-title">2. We pick up the coffee</div>
    <div class="options">We place the coffee in bags</div>
    <div class="options">Each bag is transported in climate-controlled trucks</div>
    <div class="options">Each six hours the bags are rotated to keep the beans uniform and delicious</div>
  </div>
  <div class="triangle"></div>
</div>
<div class="third_img">
  <div class="visual-lining-with-image col-sm-5 col-sm-offset-1">
    <div class="options-title">3. You drink the coffee</div>
    <div class="options">The coffee tastes delicious</div>
    <div class="options">You want more coffee</div>
    <div class="options">You buy more coffee</div>
  </div>
  <div class="col-sm-6 steamy-coffee"></div>
  <div class="triangle"></div>
</div>
<div class="action_landing col-sm-12">
  <div class="col-sm-6 col-sm-offset-3 text-center action_group">
    <button id="started" ng-click="go()" class="btn">GET STARTED</button>
  </div>
</div>