.container-fluid
  #instruction-modal
    h3.modal-text.text-center 
  .row
    .col-sm-12.text-center
      h1 Thank you for your order!
      h4 Your order has been confirmed and sent in.

  .row
    .col-sm-10.col-sm-offset-1.text-center
      button.btn.btn-default.block-center(ng-href="#/options") MAKE ANOTHER ORDER
      button.btn.btn-default.block-center(ng-click="logout()") LOGOUT