html(ng-app='ecommerceApp')
  head
    title eCommerce Site
    link(type="text/css", rel="stylesheet", href="css/styles.css")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js")
    script(src="js/controller.js")
  body(ng-controller="ecommerceController")
    nav
      .nav-container
        .icon DC Roasters
        .menu-options
          ul.straighten-out
            li Option 1
            li Option 2
