.error {
  display: inline-block;
  padding: 3px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  margin: 5px;
  text-align: center; }

.placement {
  margin-bottom: 5px; }

.stand-in {
  margin: auto;
  height: 32px;
  width: 50px; }

.land_img {
  height: 440px;
  width: auto;
  background-image: url("images/coffee.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center -250px; }

.transition_landing {
  position: relative;
  bottom: -25px;
  height: 100px;
  background-image: linear-gradient(transparent 0%, #EDEBE6 80%); }

.visual-lining {
  padding: 230px 0 0 100px; }
  .visual-lining .title {
    color: #084d40;
    font-weight: bold;
    font-size: 44px; }
  .visual-lining .subtitle {
    color: #084d40;
    font-size: 18px;
    font-style: italic;
    margin-left: 5px; }

.visual-lining-options {
  color: #084d40;
  padding: 150px 500px; }
  .visual-lining-options .options-title {
    color: #084d40;
    font-size: 35px;
    font-weight: bold; }
  .visual-lining-options .options {
    color: #084d40;
    margin-left: 5px;
    font-size: 18px;
    font-style: italic; }

.breaker {
  height: 80px;
  background-color: #EDEBE6;
  position: relative; }
  .breaker .hiw {
    color: #084d40;
    font-size: 35px; }
  .breaker .triangle {
    border-top: 50px solid #EDEBE6;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 100%;
    left: 46.5%;
    z-index: 20; }

.first_img {
  height: 440px;
  background-image: linear-gradient(transparent 0%, black 80%), url("images/bags.jpg");
  background-repeat: no-repeat;
  position: relative; }
  .first_img .triangle {
    border-top: 50px solid black;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 100%;
    left: 46.5%;
    z-index: 20; }

.second_img {
  height: 440px;
  background-color: #EDEBE6;
  position: relative; }
  .second_img .triangle {
    border-top: 50px solid #EDEBE6;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 100%;
    left: 46.5%;
    z-index: 20; }
  .second_img .image_skewed img {
    transform: rotateZ(30%);
    height: 20px; }
  .second_img .visual-lining-with-image {
    color: #084d40;
    position: relative;
    padding: 150px 100px;
    right: -40%; }
    .second_img .visual-lining-with-image .options-title {
      color: #084d40;
      font-size: 35px;
      font-weight: bold; }
    .second_img .visual-lining-with-image .options {
      color: #084d40;
      margin-left: 5px;
      font-size: 18px;
      font-style: italic; }

button {
  cursor: default !important; }

select {
  cursor: default !important; }

.container-fluid {
  color: #084d40; }

#option-individual {
  background-color: #6A4A2C;
  padding: 30px;
  box-shadow: 0 0 10px 0 #333;
  color: #fff; }
  #option-individual img {
    height: 300px;
    width: auto;
    border: 5px solid #684A2C; }

#option-family {
  background-color: #6A4A2C;
  padding: 30px;
  box-shadow: 0 0 10px 0 #333;
  color: #fff; }
  #option-family img {
    height: 300px;
    width: auto;
    border: 5px solid #684A2C; }

#option-custom {
  background-color: #6A4A2C;
  padding: 0px;
  box-shadow: 0 0 10px 0 #333;
  color: #fff; }

body {
  background-color: #EDEBE6;
  color: #084d40;
  margin: 0;
  padding: 0; }
  body a {
    color: #084d40; }
    body a:hover {
      cursor: default;
      text-decoration: none;
      font-weight: bold;
      color: #084d40; }
  body button {
    cursor: default !important; }
  body .navbar-brand {
    padding: 3px;
    box-sizing: border-box; }
    body .navbar-brand img {
      height: 96%;
      width: auto; }
  body .sub-nav {
    background-color: #084d40;
    height: 30px;
    line-height: 30px; }
    body .sub-nav .op-container {
      text-align: center; }
      body .sub-nav .op-container .option {
        padding: 0 20px;
        display: inline-block; }
  body #views {
    margin-top: 50px; }

footer ul {
  list-style: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  margin: 5px; }
  footer ul li {
    display: inline-block;
    padding: 5px; }
