
<nav class="sub-nav">
  <div class="option op-container">
    <div class="option op-home"><a href="#">Home</a></div>
    <div class="option op-selection"><a href="#/">Selection</a></div>
    <div class="option op-shipping">Shipping</div>
    <div class="option op-payment">Payment</div>
    <div class="option op-confirmation">Confirmation</div>
  </div>
</nav>
<div class="land_img">
  <div class="visual-lining">
    <div class="title">Whole beans in half the time</div>
    <div class="subtitle">Freshly roasted coffee beans delivered weekly to your door</div>
  </div>
  <div class="transition_landing"></div>
</div>
<div class="breaker">
  <p>how it works</p>
  <div class="triangle"></div>
</div>
<div class="first_img"><span>1. We get the coffee
    <div>each bean is hand selected</div>
    <div>each bean is measured for precise size</div>
    <div>each bean is tested for quality</div></span>
  <div class="triangle one_transition"></div>
</div>
<div class="second_img">
  <div class="img_skewed"></div><span>2. We pick up the coffee
    <div>we place the coffee in bags</div>
    <div>each bag is transported in climate-controlled trucks</div>
    <div>each six hours the bags are rotated to keep the beans uniform and delicious</div></span>
</div>
<div class="breaker">
  <div class="triangle"></div>
</div>
<div class="third_img"><span>3. You drink the coffee
    <div>the coffee tastes delicious</div>
    <div>You want more coffee</div>
    <div>You buy more coffee</div></span></div>
<div class="breaker">
  <div class="triangle"></div>
</div>
<div class="action_landing">
  <button class="btn">get started</button>
  <div>want to know more about us?</div>
  <button class="btn">our story</button>
</div>