nav.sub-nav
      .option.op-container
        .option.op-home
          a(href='#') Home
        .option.op-selection
          a(href="#/") Selection
        .option.op-shipping Shipping
        .option.op-payment Payment
        .option.op-confirmation Confirmation
.land_img
  .visual-lining
    .title Whole beans in half the time
    .subtitle Freshly roasted coffee beans delivered weekly to your door
  .transition_landing
.breaker
  p how it works
  .triangle
.first_img
  span 1. We get the coffee
    div each bean is hand selected
    div each bean is measured for precise size
    div each bean is tested for quality
  .triangle.one_transition
.second_img
  .img_skewed
  span 2. We pick up the coffee
    div we place the coffee in bags
    div each bag is transported in climate-controlled trucks
    div each six hours the bags are rotated to keep the beans uniform and delicious
  
.breaker
  .triangle
.third_img
  span 3. You drink the coffee
    div the coffee tastes delicious
    div You want more coffee
    div You buy more coffee
.breaker
  .triangle
.action_landing
  button.btn get started
  div want to know more about us?
  button.btn our story

