
<nav class="sub-nav">
  <div class="option op-container">
    <div class="option op-home"><a href="#">Home</a></div>
    <div class="option op-selection"><a href="#/options">Selection</a></div>
    <div class="option op-shipping">Shipping</div>
    <div class="option op-payment">Payment</div>
    <div class="option op-confirmation">Confirmation</div>
  </div>
</nav>
<div class="land_img">
  <div class="visual-lining">
    <div class="title">Whole beans in half the time</div>
    <div class="subtitle">Freshly roasted coffee beans delivered weekly to your door</div>
  </div>
  <div class="transition_landing"></div>
</div>
<div class="breaker">
  <div class="text-center hiw">How It Works</div>
  <div class="triangle"></div>
</div>
<div class="first_img">
  <div class="visual-lining-options">
    <div class="options-title">1. We get the coffee</div>
    <div class="options">Each bean is hand selected</div>
    <div class="options">Each bean is measured for precise size</div>
    <div class="options">Each bean is tested for quality</div>
  </div>
  <div class="triangle"></div>
</div>
<div class="second_img">
  <div class="image_skewed"><img src="../css/images/grower.jpg"/></div>
  <div class="visual-lining-with-image">
    <div class="options-title">2. We pick up the coffee</div>
    <div class="options">We place the coffee in bags</div>
    <div class="options">Each bag is transported in climate-controlled trucks</div>
    <div class="options">Each six hours the bags are rotated to keep the beans uniform and delicious</div>
  </div>
  <div class="triangle"></div>
</div>
<div class="third_img"><span>3. You drink the coffee
    <div>the coffee tastes delicious</div>
    <div>You want more coffee</div>
    <div>You buy more coffee</div></span></div>
<div class="breaker">
  <div class="triangle"></div>
</div>
<div class="action_landing">
  <button class="btn">get started</button>
  <div>want to know more about us?</div>
  <button class="btn">our story</button>
</div>